<div id="a" class="feature feature--a" data-tour-step="a">Feature A</div>
<div id="b" class="feature feature--b">Feature B</div>
<div id="c" class="feature feature--c">Feature C</div>
<div id="d" class="feature feature--d">Feature D</div>
{{outlet}}