<div class="feature feature--a">Feature A</div>
<div class="feature feature--b">Feature B</div>
<div class="feature feature--c">Feature C</div>
<div class="feature feature--d">Feature D</div>
{{outlet}}